[nginx]
vhosts = /etc/nginx/vhosts

[html]
RootDir = /home/mansur/data/html/
Index = index.php index.html

[ssl]
Cert = /home/mansur/.local/share/mkcert/ivgpu.loc+8.pem
CertKey = /home/mansur/.local/share/mkcert/ivgpu.loc+8-key.pem

[php]
FastCgiPass = unix:/run/php-fpm/php-fpm.sock